<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/stylsheet.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="./img/me.png" class="portrait">
            <p>Created By {{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>