<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/stylsheet.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This Website for displaying the current weather, Created By {{name}}.</p>
            <p>I'm using mapbox.com and weatherstack.com APIs.</p>
            <p>I'm providing a search with two languages Arabic and English.</p>
            <p>Thanks for using my app.</p>
            <img src="./img/me.png" class="portrait">
        </div>
        {{>footer}}
    </body>
</html>