<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./css/stylsheet.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>{{message}}</h2>
            <p>{{paragraph}}</p>
        </div>
        {{>footer}}
    </body>
</html>